@page
@model RazorApp.Pages.Personas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Persona.NumeroDocumento" class="control-label"></label>
                <input asp-for="Persona.NumeroDocumento" class="form-control" />
                <span asp-validation-for="Persona.NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Apellido" class="control-label"></label>
                <input asp-for="Persona.Apellido" class="form-control" />
                <span asp-validation-for="Persona.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Nombre" class="control-label"></label>
                <input asp-for="Persona.Nombre" class="form-control" />
                <span asp-validation-for="Persona.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.FechaNacimiento" class="control-label"></label>
                <input asp-for="Persona.FechaNacimiento" class="form-control" />
                <span asp-validation-for="Persona.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
